@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
body{
    background-image: url(../Pic/Back.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
ul{
    list-style: none;
    display: flex;
    grid-column-gap: 2em;
}
*{
    color: white;
}
.container{
    margin-top: 30vh;
    margin-left: 10vw;
}
h1{
    font-size:50px;
    line-height: 1vh;
}
h1 a{
    text-decoration: none;
    font-family: 'Monoton';
    font-weight: 100
}
h2{
    display: inline-block;
    font-weight: 400;
    font-size: 35px;
    line-height: 1vh;
}
.introchange{
    font-weight: 800;
    font-size: 35px;
}
.socialicon{
    word-spacing: 10px;
}