*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
#container{
    margin:0 auto;
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1em;
}
.logo{
    width: 2em;
}
.logo-container{
    display:flex;
    justify-content: baseline;
    align-items: center;
    margin-right: 6em;
}
.logo-text{
    margin-left: -0.25em;
    font-size: 1.5em;
}
.nav-items{
    display:flex;
    gap:4em;
}
.nav-items div{
    font-size: 1em;
    font-weight:500;
    cursor: pointer;
}
.nav-items div a{
    text-decoration: none;
    color: black;
}
.nav-items div:hover{
    transform: scale(1.08);
    font-weight: 700;
    transition-duration: 3s;
    text-shadow: 0 0 0.5em black;